@import "./block_portfolio/btn.css";
@import "./block_portfolio/card.css";
@import "./block_portfolio/futer.css";
@import "./block_portfolio/header.css";
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
footer {
  background-color: #2f303a;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
span {
  color: #2196f3;
}
