

.header {
	position: fixed;
	z-index: 1111111;
	background-color: $var1;
	width: 100%;
	z-index: 11111111111111111111;
    height: 82px;
    &_bloks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_logo {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: $var5;
    }
    &_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 510px;
    }
    &_menu_link {
        width: 280px;
        display: flex;
        justify-content: space-between;
    }
    &_menu_contact {
       
        display: flex;
        justify-content: space-between;
       
    }
    &_nav > a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $var2;
        &:hover {
            color: $var9;
        }
    }
    &_nav > &_nav_menu_active {
        color: $var3;
        &::after {
            color: $var3;
            transition-duration: 1s;
            transform: rotateY(0);
            content: "";
            display: block;
            width: 73px;
            height: 4px;
            background-color: $var3;
            border-radius: 2px;
            position: absolute;
            top: 80px;
        }
    }
    span {
        color: $var3;
    }
}
