.header_bloks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
  
    color: #000101;
  }
  .header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
  }
  .menu_link {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
  .menu_contact {
    width: 306px;
    display: flex;
    justify-content: space-between;
  }
  header {
    height: 82px;
  }
  .nav > a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .nav > a:hover {
    color: #00060a;
  }
  .menu_contact svg {
    margin-right: 6px;
  }
  header {
    position: fixed;
    z-index: 1111111;
    background-color: #ffffff;
    width: 100%;
  }header {
    z-index: 11111111111111111111;
  }
  hr {
    border: 1px solid #ECECEC;
  }
  .nav .menu_active {
    color: #2196f3;
  
  }
  .nav .menu_active::after {
    color: #2196f3;
    transition-duration: 1s;
    transform: rotateY(0);
    content: "";
    display: block;
    width: 73px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    top:80px;
  }