.clients {
	padding: 94px 0;
	path {
		border-radius: 0;
		border: inset;
		fill: $clients_color;
	}
	li:hover {
		border: 1px solid $var3;
	}
	li {
		border: 1px solid $clients_color;
		border-radius: 4px;
		margin: 15px;
		padding: 1px 13px;
	}
	h3 {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.03em;
		color: $var2;
	}
	ul {
		display: flex;
		justify-content: center;
	}
	&__link path:hover {
		fill: $var3;
	}
}
