.clients {
	padding: 94px 0;
	path {
		border-radius: 0;
		border: inset;
		fill: $clients_color;
	}
	li:hover {
		border: 1px solid $var3;
	}
	li {
		border: 1px solid $clients_color;
		border-radius: 4px;
		margin: 15px;
		padding: 1px 13px;
	}
	&__title {
		@extend %title
	}
	ul {
		display: flex;
		justify-content: center;
	}
	&__link path:hover {
		fill: $var3;
	}
}
