.footer {
  background-color: $var8;
  padding: 72px 0 60px 0;
  flex-wrap: wrap;
  
 
  &__nav--end h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: $var1;
    
      text-align: center;
    
  }
  &__nav--start{
    margin-left: 100px;
  }
  &__nav--end {

     text-align: center;
     margin: 0 15px;
    
  
  }
  &__nav--end a {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    border-radius: 100%;
    position: relative;
    /* 171.429% */
    letter-spacing: 0.42px;
  }
  .footer__adress2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  
      text-align: center;
    
  }
  .footer__adress3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__nav--end i {
    
    transform: translate(-50%, -50%);
    color: $var1;
  }

  .footer__nav--end a:hover,
  .footer__nav--end a:hover i {
    background-color: $var2;
    color: $var1;
  }

  .footer__nav--end ul {
    display: flex;
    gap: 10px;
    padding: 0;
  }

  .footer__subtitle {
    color: $var1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .footer__list input {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
  }
  .footer__list button {
    border-radius: 4px;
    background: 3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    &:hover,
    &:hover i {
      background-color: $var2;
      color: $var1;
    }
  }
  &__adress1 {
    color: $var1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    
      text-align: center;
    
  }
  &__adress2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-align: start;
  }
  
  &__adress3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

    
  &__nav--end i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $var1;
  }
  &__list {
    margin:0;
  }
  &__nav--end ul {
    display: flex;
    gap: 10px;
    padding: 0;
    
  }
  &__subtitle {
    color: $var1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

      text-align: center;
      margin-top: 60px;
    
  }
  &__list input {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
   
  }
  &__list button {
    @extend %btn;
  }
  &__container {
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin:0 ;
  
   
  }
  &__box {
    display: flex;
    gap: 12px;
    margin-top: 20px;

  }
  .studio {
    margin-left:38px ;
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
}
