.feature_items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
}
.feature_item {
  width: 270px;
  list-style-type: none;
}
.feature_item > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.feature_item > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}
.feature {
  padding: 34px 0 34px;
  
}
.futhere_img {
  width: 270px;
  height: 120px;
 
  border-radius: 4px;
  position: relative;
}

.futhere_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
