.svg_foto {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  left: 515px;
  top: 774px;
}
.promo {
  padding: 200px 0px;
  background-image: url(../img/page1/Imgfon\ h1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promo_title {
  color: aliceblue;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.btr {
  width: 216px;
  height: 50px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
