.team_card img {
  width: 270px;

  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.has {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team {
  display: flex;
  justify-content: space-around;
}
.feature_team {
  background: #f5f4fa;
  padding: 94px 0px;
}
.team_card {
  background-color: #ffffff;
  border-radius: 10px;
}

.team_ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.team_ul svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team_ul a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  position: relative;
}
.team_ul a:hover,
.team_ul a:hover path {
  background-color: #2196f3;
  fill: #ffffff;
}
.team_card:hover {
  translate: 20px -20px;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}
